*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(to right bottom,green,red); */
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    width: 100%;
    height: 100vh;
}
.App .app_title{
    text-align: center;
    color: rgb(6, 60, 240);
    margin: 2rem 0;
    font-size: 2rem;
    font-family: 'Pangolin', cursive;
}
.App .app_title span{
    color: rgb(255, 102, 0);
}

.App .board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.App .board .row{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(97, 96, 96);
}
.App .board .row:last-child{
    border-bottom: none;
}
.App .board .row button{
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    border: none;
    background: transparent;
    outline: none;
    border-right: 2px solid rgb(97, 96, 96);
    font-family: 'Pangolin', cursive;
    cursor: pointer;
}
.App .board .row button:last-child{
    border-right: none;
}
.App .status .result{
    text-align: center;
    font-size: 1.8rem;
    color: rgb(63, 62, 62);
    margin-top: 2rem;
    font-family: 'Pangolin', cursive;
}
.App .newgame{
    margin-top: 2rem;
    padding: .6rem 1rem;
    border-radius: 5px;
    background: transparent;
    outline: none;
    border: 1px solid rgb(255, 102, 0);
    color: rgb(6, 60, 240);
    cursor: pointer;
}
.App .newgame.active{
    color: rgb(255, 102, 0);
    background-color: rgb(6, 60, 240);
    border: none;
}
.text-blue{
    color: rgb(6, 60, 240);
}
.text-orange{
    color: rgb(255, 102, 0);
}
.App .board .row button.winning{
    font-weight: bold;
    font-size: 3rem;
    transition: all .2s ease-in;
}